/* write your override styles here */
#wall .tag-1{
  display:  none;
}
body #wall #tag-2{
  display: none;
}

body #wall .wicked.slick #tag-3{
  display: :none
}

#wall .parent #tag-4{
  display: none;
}
